*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-template-rows: 2fr auto 2fr;
    row-gap: 10px;
    margin: auto;
}